{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
     <h1>Liste des produits disponibles </h1>

     {% for prod in products %}
     {{prod.name}} <br>
     {{prod.description}}<br>
     {{prod.slug}}<br>
     {{prod.getCreatedAt()| date('d/m/Y')}}<br><br>
      {% endfor %}
{% endblock %}
